body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.formulario {
    font-weight: bold;
}

.campos {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btnEnvio {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btnEnvio:hover {
    background-color: #0069d9;
}

.error-message {
    color: red;
    margin-top: 10px;
}